.wrapper {
  height: 50px;
  width: 330px;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;

  font-size: 1rem;
  background-color: rgba(var(--color-green-rgb), 0.06);
  border-radius: 0.25rem;
  box-shadow: 0 0 2px 2px var(--color-lightlightgray);
}

.name {
  color: var(--color-dark);
}

.symbol {
  color: var(--color-gray);
  margin-left: 0.75rem;
}

.price {
  color: var(--color-dark);
}

.listed {
  font-size: 0.75rem;
}

.font-xs {
  font-size: 0.65rem;
}

.font-s {
  font-size: 0.75rem;
}

.font-m {
  font-size: 1rem;
}
