.table {
  width: 320px;
  text-align: left;
  border-collapse: collapse;
  color: var(--color-gray);
}

.head {
  width: 100%;

  th {
    padding-bottom: 0.15rem;
  }

  &__row {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--color-gray);
    font-size: 10px;
  }
}

.body {
  font-size: 14px;
  width: 100%;

  td {
    padding: 0.75rem 0.75rem 0.75rem 0;
  }

  &__row {
    padding: 0.75rem;
    border-bottom: 1px solid var(--color-lightgray);

    .coin-name {
      display: flex;
      gap: 0.5rem;
    }
  }
}
