.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: var(--color-gray);
}

.head {
  width: 100%;
  position: sticky;
  top: 0px;

  background-color: var(--color-lightlightgray);

  th {
    padding: 0.15rem 0.25rem;
  }

  &__row {
    border-bottom: 1px solid var(--color-gray);
    font-size: 10px;
  }
}

.body {
  font-size: 12px;
  width: 100%;

  td {
    padding: 0.75rem 0.25rem 0.75rem 0.25rem;
  }

  &__row {
    border-bottom: 1px solid var(--color-lightgray);

    .coin-name {
      //  margin-top: 0.75rem;
      display: inline-flex;
      gap: 0.5rem;
    }
  }
}

td.symbol {
  font-weight: bold;
}

td.tendency {
  width: 24px;
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}
