.wrapper {
  width: 330px;
  height: 50px;
  margin-bottom: 1.5rem;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  border-radius: 0.25rem;
  overflow: hidden;

  .input {
    flex-grow: 1;
    height: 100%;
    border: none;
    padding: 1rem;

    font-size: 1rem;
  }

  .btn {
    height: 100%;
    width: 100px;
    padding: 0.5rem;

    font-size: 1.25rem;
    background-color: var(--color-green);

    &:hover {
      cursor: pointer;
    }
  }
}
