.image {
  display: flex;
  justify-content: center;

  flex-shrink: 0;

  & img {
    width: 100%;
  }
}

.xs {
  width: 10px;
}

.s {
  width: 15px;
}

.m {
  width: 25px;
}

.l {
  width: 40px;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

@media screen and (min-width: 767px) {
  .image {
    width: 20px;
  }
}
